body{
    background-color: powderblue;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.imagedown{
    position: absolute;
    bottom: 60%;
    left: 300px;
}
.imageup{
    position: absolute;
    right: 300px;
    top: 50px;
}
.top-container{
    position: relative;
    padding-top: 100px;
}
h1{
    margin: 0;
   }
.hobby{
    width: 200px;
}
.maths{
    width:200px
}
.hr{
    width: 25%;
}
.call{
    width: 16px;
}
.mail{
    width: 16px;
}